.carol {
  flex: 1;
  min-width: 250px;
  max-width: 45%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  border-radius: 0.2rem;
  box-shadow: 0 0 7px #666;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0 0 5px #555);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.indicator {
  background-color: white;
  height: 1rem;
  width: 1rem;
  margin: 0 4px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 2px #555;
  transition: background-color 0.3s ease;
}

.indicator-inactive {
  background-color: gray;
}

.slide-hidden {
  display: none;
}

.statement {
  flex: 1;
  font-size: 3vh;
  min-width: 250px;
  max-width: 45%;
  padding-top: 5vh;
}

.main-selections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10vh 5vw;
  gap: 3vw;
  box-sizing: border-box;
}

.aboutus-butt {
  width: 30vw;
  max-width: 300px;
  height: 9vh;
  background-color: #ffc9b9;
  font-size: 4vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.butt {
  display: flex;
  justify-content: center;
}
